<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <p>You're receiving this email because you requested a password reset for your account.</p>
    <p>Please click the following link to reset your password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>Click the following link to reset your password:</p>
    <p><a href="{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>

    <p>Your password has been successfully reset.</p>
    <p><a href="{% url 'password_reset_done' %}">Return to Login</a></p>
</body>
</html>